<!-- search_data.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
</head>
<body>
    <!-- اضافه کردن فرم جستجو -->
    <form method="get" action="{% url 'search_csv' %}">
        <label for="search_field">Search by:</label>
        {{ form.search_field }}
        <label for="q">Search:</label>
        <input type="text" name="q" id="q" value="{{ query }}">
        <button type="submit">Search</button>
    </form>
    <h1>Search Results</h1>
</body>
</html>
